<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>같이보자NET</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">
    <link href='{{ url_for("static", filename="mystyle.css") }}' rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            show_comment();
        });

        function show_comment() {
            $.ajax({
                type: "GET",
                url: "/comment_get",
                data: {},
                success: function (response) {
                    let rows = response['comments']
                    for (let i = 0; i < rows.length; i++) {
                        let comment = rows[i]['comment']
                        let nickname = rows[i]['nickname']
                        let star = rows[i]['star']
                        let num = rows[i]['num']
                        let like_count = rows[i]['like_count']
                        let title = rows[i]['title']

                        let star_image = '⭐'.repeat(star)

                        if (comment != "" && star != "평점을 골라주세요.") {
                            let temp_html = `<div class="comment_box" id="comment_box(${num})">
                                                <div class="comment_body">
                                                     <span class="user_star">${star_image}️</span>
                                                    <span class="nicknameWithComment"><span class="nickname">${nickname}</span>
                                                        ${comment}</span>

                                                </div>
                                                                <div class="like_set">
                                                                    <span class="like_icon"></span><span class="like_num">${like_count}</span>
                                                                </div>
                                            </div>`
                            if(title=="{{ title }}")
                            $('#comment_list').append(temp_html)
                        }


                    }
                }
            });
        }
    </script>

</head>
<body>

<div class="banner_set">
    <span class="back" onclick="window.location.href='/'"></span>
    <div class="banner" onclick="window.location.href='/'"></div>
    <span class="nickname_banner"><span class="nickname">{{ user_info.nickname }}</span>님,
                안녕하세요.</span></div>
</div>
<div class="wrap">
    <button class="star">평점 <span class="star_num">4.7</span></button>
    <button class="comment">리뷰 수 <span class="comment_num">435</span></button>
    <div class="titleWithBtn">
        <span class="main_title">{{ title }}</span>
        <button class="comment_btn" onclick="window.location.href='/write/{{ title }}'">리뷰 작성하기</button>
    </div>


    <div class="contents_wrap">
        <div style="
                min-width: 412px;
                width: 412px;
                height: 610px;
                background-image: url('{{ image.img }}');
                background-position: center 30%;
                background-size: contain;
                color: white;
                margin-top: 20px;">
        </div>
        <div class="comment_box_wrap" id="comment_list">
            <div class="comment_box">
                <div class="comment_body">
                    <span class="user_star">⭐⭐⭐️</span>
                    <span class="nicknameWithComment"><span class="nickname">김르탄</span>
                        생각보다 넘 재밌어요</span>

                </div>
                <div class="like_set">
                    <span class="like_icon"></span><span class="like_num">23</span>
                </div>
            </div>

        </div>
    </div>

</div>


</div>
</body>
</html>